@media screen and ( max-width: 425 )
{
    body
    {
        grid-template-columns: 10% auto 10%;
    }
}

@keyframes spin
{
    0%, 100% 
    {
        transform: rotate3d(0, 0, 0, 0deg);
    }
      
    50% 
    {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

@keyframes gradient
{
    0%, 100%
    {
        background-position:50% 0%
    }
    
    50%
    {
        background-position:50% 100%
    }
}

@-webkit-keyframes gradient 
{
    0%, 100%
    {
        background-position:50% 0%
    }
    
    50%
    {
        background-position:50% 100%
    }
}

@-moz-keyframes gradient 
{
    0%, 100%
    {
        background-position:50% 0%
    }

    50%
    {
        background-position:50% 100%
    }
}

html
{
    height: 100%;
    width: 100%;
}

body
{
    text-shadow: -1px -1px 1px red;
    display: grid;
    background: linear-gradient( blue, orange );
    grid-template-columns: 30% auto 30%;
    animation: gradient 5s ease infinite;
    -webkit-animation: gradient 5s ease infinite;
    -moz-animation: gradient 300s ease infinite;
    background-size: 100% 200%;
}

#header p
{
    text-align: center;
    animation: spin 10s infinite;
    color: white;
    font-size: 24px;
    font-family: Arial;
}

#main
{
    grid-column-start: 2;
}

#body
{
    background: lightyellow;
    border-radius: 5px;
}

#body p
{
    padding: 5px;
}