@keyframes spin
{
    0%, 100% 
    {
        transform: rotate3d(0, 0, 0, 0deg);
    }
      
    50% 
    {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

@keyframes gradient
{
    0%, 100%
    {
        background-position:50% 0%
    }
    
    50%
    {
        background-position:50% 100%
    }
}

@-webkit-keyframes gradient 
{
    0%, 100%
    {
        background-position:50% 0%
    }
    
    50%
    {
        background-position:50% 100%
    }
}

@-moz-keyframes gradient 
{
    0%, 100%
    {
        background-position:50% 0%
    }

    50%
    {
        background-position:50% 100%
    }
}

html
{
    height: 100%;
    width: 100%;
}

body
{
    text-shadow: -0.5px -0.5px 1px red;
    display: grid;
    background: linear-gradient( darkblue, lightblue, darkblue );
    grid-template-columns: 25% auto 25%;
    animation: gradient 300s ease infinite;
    -webkit-animation: gradient 300s ease infinite;
    -moz-animation: gradient 100s ease infinite;
    background-size: 100% 200%;
    height: 100%;
}

#header p
{
    text-align: center;
    animation: spin 10s infinite;
    color: white;
    font-size: 32px;
    font-family: Arial;
    line-height: 150px;
}

#main
{
    grid-column-start: 2;
}

#body
{
    background: lightyellow;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#body p
{
    padding-left: 15px;
}

#body h1
{
    font-size: 24px;
    padding-left: 5px;
}

#header
{
    display: grid;
    grid-template-columns: 200px auto;
    height: 200px;
    padding-bottom: 10px;
}

#header img
{
    height: 200px;
    margin-left: 30px;
    border-radius: 25px;
}